<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body class="container">
<header>
  <%- include('partials/header') %>
</header>

<div class="card-deck">
  <div class="card">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <h3 class="card-title">SEI</h3>
      <p class="card-text">Have it all. Keep your daytime commitments while transforming your career with evening and weekend training. This part-time online coding bootcamp features expert instruction, one-on-one career coaching, and connections to top employers to get you hired.</p>
      <a href="/seireviews" class="btn btn-primary">Reviews</a>
    </div>
  </div>
  <div class="card">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <h3 class="card-title">UX Design</h3>
      <p class="card-text">Pursue a design career on your time. This Immersive online UX bootcamp is 100% remote and offered at a part-time schedule, so you can keep your job while training nights and weekends. You’ll still get the same expert instruction, career coaching, and cutting-edge skills needed to upgrade your career.</p>
      <a href="/uxreviews" class="btn btn-primary">Reviews</a>
    </div>
  </div>
  <div class="card">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <h3 class="card-title">Data Science</h3>
      <p class="card-text">Change your career on your terms. This data science bootcamp is fully remote and offered on a part-time schedule, so you can keep your daytime commitments while training at night and on the weekends. Featuring the same expert instruction, career coaching, and cutting-edge curriculum needed to help you land your next job in data science.</p>
      <a href="/dsreviews" class="btn btn-primary">Reviews</a>
    </div>
  </div>
</div>


<footer>
  <%- include('partials/footer') %>
</footer>

</body>
</html>